#main {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 850px;
}

body {
  height: auto;
}

.ant-btn{
  margin-bottom: 20px;
}

/*.page-enter-active,*/
/*.page-leave-active {*/
/*  transition: opacity 0.15s;*/
/*}*/
/*.page-enter,*/
/*.page-leave-active {*/
/*  opacity: 0;*/
/*}*/
